@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvenier';
    src: url('../fonts/avenir-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Zentriert den gesamten Inhalt */
    align-items: center; /* Vertikale Zentrierung */
    font-family: 'Barlow', sans-serif;
    flex-direction: column;
    overflow: scroll; 
}

h1 {
    color: #A9A1EC; 
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;  /* Navbar nach rechts ausrichten */
    width: auto; /* Breite wird an den Inhalt angepasst */
    height: 70px;
    background-color: black;
    z-index: 1000;
    margin-right: 93px; 
}

.navbar ul {
    list-style: none;
    padding: 30px 0 0 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Listenelemente nach rechts ausrichten */
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    font-family: 'Barlow', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    transition: color 0.5s ease;
}

.navbar ul li a:hover {
    color: #A9A1EC;
}



/* Kontaktformular */
.contact-form-container {
    background-color: rgba(0, 0, 0, 0.8); /* Leichte Transparenz für das Formular */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #A9A1EC;
    font-family: 'Arvenier', serif;
    display: flex;
    flex-direction: column;   
}

.contact-form-container h1 {
    font-size: 2rem;
    color: #A9A1EC;
    margin-bottom: 20px;
}

input, textarea {
    background-color: #333; /* Dunkelgrau für die Eingabefelder */
    color: white;
    border: 1px solid #444;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #c71717; /* Rote Submit-Schaltfläche */
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 30px; 
}

input[type="submit"]:hover {
    background-color: #ff4d4d; /* Helleres Rot bei Hover */
}
label[for="message"] {
    margin-right: 400px;  
}

label[for="email"] {
    margin-right: 427px;  
}
label[for="name"] {
    margin-right: 427px;  
}

.submit {
    background-color: #A9A1EC;
    color: white; /* Weißer Text */
    border: none; /* Kein Rand */
    padding: 12px 24px; /* Innenabstand */
    font-size: 16px; /* Textgröße */
    font-family: 'Arvenier', serif; /* Schriftart */
    border-radius: 8px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeigt den Zeiger-Cursor an */
    transition: background-color 0.3s, transform 0.2s; /* Sanfte Übergänge für Farbe und Effekt */
}

.submit:hover {
    background-color: #EEDDBA; /* Dunkleres Grün beim Hover */
    transform: scale(1.1); /* Button leicht vergrößern */
    color: #A9A1EC; 
}

.submit:active {
    background-color: white; /* Noch dunkleres Grün bei Klick */
}
/* Spam-Schutz */
.g-recaptcha {
    margin: 20px 0!
    flex-grow: 1;
    margin-top: 20px;  
}

/* Footer */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
     
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-button {
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: color 0.5s ease;
}

.footer-button:hover {
    color: #A9A1EC;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {



  .menu-toggle {
    display: flex;
    flex-direction: column; 
    cursor: pointer;
    /*animations*/
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.3s ease-in-out; /* Für die Dreh-Animation */ 
  }

    /* Transformation beim Öffnen */
.menu-toggle.open .bar:nth-child(1) {
    transform: translateY(14px) rotate(45deg); /* Nach unten verschieben & drehen */
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0; /* Unsichtbar machen */
}

.menu-toggle.open .bar:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg); /* Nach oben verschieben & gegenläufig drehen */
} 
    .bar {
        width: 25px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
        transition: all 0.3s ease;
    }


    .navbar ul {
        visibility: hidden; 
        opacity: 0; 
        width: 100%;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color:  #A9A1EC;
        padding: 20px;

        transform: translateY(-100%); /* Start außerhalb des Viewports */
        transition: transform 1s ease-in-out; /* Gleiten von oben */

        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Weicher Schatten */
    }

    .navbar ul li a:hover { 
        color: #EEDDBA ; 
    }

    .navbar ul.active {
        visibility: visible; 
        opacity: 1; 
        flex-direction: column; 
        z-index: 1000; 
        transform: translateY(0); /* Zeigt das Menü, wenn aktiv */ 
    }

    .navbar ul li {
        opacity: 0; /* Versteckt die Links zuerst */
        transition: opacity 0.5s ease;
        margin-right: 30px; 
    }

    .navbar ul.active li {
        opacity: 1; /* Zeigt die Links, wenn das Menü aktiv ist */
    
    }

    .navbar.menu-open{
        background-color:  #A9A1EC;
    }
    

}

